body {
  font-family: "Martel Sans", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
  background-color: rgb(8,7,23);
  padding: 20px;
  gap: 20px;
  color: white;
}

.tileContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  color: rgb(8,7,23);
  padding: 10px;
  border-radius: 5%;
  z-index: 1;
  margin: auto;
  text-align: center; /* Center text horizontally */
  line-height: 1.2; /* Adjust line height to decrease space between lines */
}

.tile:hover {
  box-shadow: 0 0 20px yellow;
}

.tile h3 {
  margin: 0;
  font-size: 1.2em;
}

.tile p {
  margin: 5px 0;
  font-size: 0.9em;
  color: black;
}

.logo {
  margin-top: 20px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

/* Pulsating animation for due soon tasks */
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 0, 0, 1);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  }
}

.pulsate {
  animation: pulsate 1s infinite;
}

/* Pulsating red animation for high priority tasks */
@keyframes pulsate-red {
  0% {
    color: black;
  }
  50% {
    color: red;
  }
  100% {
    color: black;
  }
}

.high-priority {
  font-weight: bold;
  animation: pulsate-red 1s infinite;
}